.current{
  padding-top: 1em;
}
#links a {
  text-decoration: none;
  /* color: white; */
}
#thefoot a {
  text-decoration: none;
}
#logo a {
  text-decoration: none;
}
#producers {
  padding: 20px 20px 0 20px;  
  float: left;
  width: 99%;
  height: 100vh; 
  display: block; 
  height:30em;    
  overflow-y: scroll; 
  /* border: 0.5px solid #e1e5ea;
  border-radius: 10px; */
  min-width: 285px;
}

#eos-graph {
  padding-top: -20px;   
}
.tradingview-widget-container {
  /* border: 2px solid #e1e5ea;
  border-radius: 10px;
  min-width: 285px;  */
}