.current{
  padding-top: 1em;
}
#links a {
  text-decoration: none;
  /* color: white; */
}
#thefoot a {
  text-decoration: none;
}
#logo a {
  text-decoration: none;
}
#votess {
  padding: 20px 20px 0 20px;  
  float: left;
  width: 99%;
  height: 100vh; 
  display: block; 
  height:30em;    
  overflow-y: scroll; 
}
#transactionss {
  padding: 20px 20px 0 20px;  
  float: left;
  width: 99%;
  height: 100vh; 
  display: block; 
  height:30em;    
  overflow-y: scroll;  
}
#eos-graph {
  padding-top: -20px;   
}